@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

body {
  background-color: #f2f2f2;
}

* {
  box-sizing: border-box;
  font-family: 'Italiana', serif;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
}