@import "../../styles/variaveis";

.header {
  align-items: center;
  background-image: url('../../assets/cardapio/header.png');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  height: 300px;

  &__text {
    width: 60%;
    padding: 0 200px;
    color: white;
    font-size: 4rem;
    min-width: 400px;
  }
}

.menu {
  padding: 20px 0;
}